
{%  extends "base.html" %}


{% block stylecontent %}
<style>
    #dropFileForm {
      margin: 16px;
      text-align: center;
      border-radius: 8px;
      overflow: hidden;
      transition: 0.5s;
    }

    #dropFileForm #fileLabel {
      background-color: rgba(0, 255, 0, 0.5);
      display: block;
      padding: 16px;
      position: relative;
      cursor: pointer;
    }

    #dropFileForm #fileInput {
      display: none;
    }

    #dropFileForm #fileLabel:after,
    #dropFileForm #fileLabel:before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #fff;
      z-index: -2;
      border-radius: 8px 8px 0 0;
    }

    #dropFileForm #fileLabel:before {
      z-index: -1;
      background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 5%,
        black 5%,
        black 10%
      );
      opacity: 0;
      transition: 0.5s;
    }

    #dropFileForm.fileHover #fileLabel:before {
      opacity: 0.25;
    }

    #dropFileForm .uploadButton {
      border: 0;
      outline: 0;
      width: 100%;
      padding: 8px;
      background-color: limeGreen;
      color: #fff;
      cursor: pointer;
    }

    #dropFileForm.fileHover {
      box-shadow: 0 0 16px limeGreen;
    }
</style>
{%  endblock %}

{% block scriptcontent %}
<script>
    $(document).ready(function () {
        $('#training_file').change(function () {
            var filename = $('#training_file').val();
            $('#file_name').html(filename.substr(filename.lastIndexOf('\\') + 1));
            var ftype=filename.substr(filename.lastIndexOf('.') + 1);
            if(ftype=='csv' || ftype=='json'  || ftype=='txt') {
                $('#' + ftype).prop("checked", true);
                $('#button-train').prop('disabled', false);
                $('#divShowHEader').show();
            } else {
                $('#button-train').prop('disabled', !$("input[name='fileType']:checked").val());
                $('#divShowHEader').hide();
            }
        });
    });

    function save_model(mn,fileName,totFeatures,numClassification,ef,ti) {
        let userfn=prompt("Please enter a name","model-name");
        if(userfn==null) return false;
        if(userfn.trim().length<1) {
            alert("You must enter a name.")
            return false;
        }
        $("body").css("cursor", "wait");
        $.ajax({
            method: "POST",
            url: 'saveModel',
            data: {
                'mn': mn,
                'fileName': fileName,
                'totFeatures':totFeatures,
                'numClassification':numClassification,
                'ef':ef,
                'ti':ti,
                'totFeatures':totFeatures,
                'userfn':userfn,
                 csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        })
        .success(function (data) {
            alert("It be done.");
        })
        .error(function (data) {
            alert("Unable to save model");
        })
        .complete(function (data) {
            $("body").css("cursor", "default");
        });
    }

    var dropFileForm = document.getElementById("dropFileForm");
    var fileLabelText = document.getElementById("fileLabelText");
    var uploadStatus = document.getElementById("uploadStatus");
    var fileInput = document.getElementById("fileInput");
    var droppedFiles;

    function overrideDefault(event) {
      event.preventDefault();
      event.stopPropagation();
    }

    function fileHover() {
      dropFileForm.classList.add("fileHover");
    }

    function fileHoverEnd() {
      dropFileForm.classList.remove("fileHover");
    }

    function addFiles(event) {
      droppedFiles = event.target.files || event.dataTransfer.files;
      showFiles(droppedFiles);
    }

    function showFiles(files) {
      if (files.length > 1) {
        fileLabelText.innerText = files.length + " files selected";
      } else {
        fileLabelText.innerText = files[0].name;
      }
    }

    function uploadFiles(event) {
      event.preventDefault();
      changeStatus("Uploading...");


      var formData = new FormData();

      for (var i = 0, file; (file = droppedFiles[i]); i++) {
        formData.append(fileInput.name, file, file.name);
      }
      $('#hidden').val(droppedFiles[0]);
      document.getElementById("dropFileForm").submit();

{#      var xhr = new XMLHttpRequest();#}
{#      xhr.onreadystatechange = function(data) {#}
{#        //handle server response and change status of#}
{#        //upload process via changeStatus(text)#}
{#        console.log(xhr.response);#}
{#      };#}
{#      xhr.open(dropFileForm.method, dropFileForm.action, true);#}
{#      xhr.send(formData);#}
    }

    function changeStatus(text) {
      uploadStatus.innerText = text;
    }
</script>
 {%  endblock %}

{% block topcontent %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="padding:0">
    <div class="container">
        <h2>Compare Multiple AI Classification Algorithms</h2>
        <p>Compare multiple classification algorithms and select the best AI solution for your data. Select a training
            file and set the appropriate initial conditions to get going. </p>
        <div class="box">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field has-addons" style="background: rgba(0,0,0,.1);">
                    <table cellspacing="2" cellpadding="2">
                        <tr><td width="50%">
                            <table cellspacing="2" cellpadding="2">
                                <tr>
                                    <td>
                                        <div class="upload-btn-wrapper">
                                            <button class="btn btn-default" stye="width:240px;">Upload a Training file</button>
                                            <input id="training_file" type="file" name="training_file" class="file-input"/>
                                        </div>
                                    </td>
                                    <td>
                                        <span id="file_name" style="font-size:small;">No Training file selected</span>
                                   </td>
                                </tr>
                                <tr>
                                    <td >
                                        <div class="btn btn-default" style="width:240px; padding:0; margin:0; font-size:medium;text-align:left;">
                                            <label style="text-align:left; padding-left:10px; text-decoration:underline;">File Type</label>

                                            <div style="text-align: left; padding-left:10px;">
                                                <input type="radio" id="csv" name="fileType"
                                                       value="csv"/>
                                                <label style="">csv</label>
                                            </div>

                                            <div style="text-align: left; padding-left:10px;">
                                                <input type="radio" id="json" name="fileType"
                                                       value="json"/>
                                                <label >json</label>
                                            </div>

                                            <div style="text-align: left; padding-left:10px;">
                                                <input type="radio" id="txt" name="fileType"
                                                       value="text"/>
                                                <label >text</label>
                                            </div>

                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn btn-default" id="divShowHEader" style="width:240px; padding:10px; margin:0; margin-left:20px; font-size:medium;text-align:left; display:none;">
                                            <input type="checkbox"  id="useHeader" name="useHeader" value="useHeader"/>
                                            <label>Training File Has Header</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr><td colspan="2">
                                    <div  style="text-align: left; padding-left:10px;">
                                        <label>Number of features in each tuple of the Training File</label>
                                        <input name="totFeatures" type="number" value="{{ totFeatures }}">
                                    </div>
                                    <div  style="text-align: left; padding-left:10px;">
                                        <label>Element number of classification (0 based) in each tuple</label>
                                        <input name="numClassification" type="number" value="{{ numClassification }}">
                                    </div>
                                </td></tr>
                            </table>
                        </td>
                        <td>
                            <table cellspacing="2" cellpadding="2">
                                <tr><td>
                                    <div class="btn btn-default" style="width:460px; padding:0; margin:0; font-size:medium;text-align:left;">
                                        <table cellspacing="10" cellpadding="10">
                                            <tr><td>
                                                <div>
                                                    <label style="text-align:left; padding-left:10px; text-decoration: underline;">Classifiers</label>
                                                </div>

                                                <div style="text-align: left; padding-left:10px;">
{#                                                    <input type="checkbox" checked id="gnb" name="classifier" value="gnb"/>#}
{#                                                    <label>Naive Bayes</label>#}
                                                      <label></label>
                                                </div>

                                                <div style="text-align: left; padding-left:10px;">
                                                    <input type="checkbox" checked id="svc" name="classifier" value="svc"/>
                                                    <label>Support Vector</label>
                                                </div>

                                                <div style="text-align: left; padding-left:10px;">
                                                    <input type="checkbox" checked id="nusvc" name="classifier" value="nusvc"/>
                                                    <label>Nu-Support Vector</label>
                                                </div>

                                                <div style="text-align: left; padding-left:10px;">
                                                    <input type="checkbox" checked id="kn" name="classifier" value="kn"/>
                                                    <label>K-Neighbors</label>
                                                </div>

                                                <div style="text-align: left; padding-left:10px;">
                                                    <input type="checkbox" checked id="dt" name="classifier" value="dt"/>
                                                    <label>Decision Tree</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="text-align: left; padding-left:10px;">
                                                    <input type="checkbox" checked id="rf" name="classifier" value="rf"/>
                                                    <label>Random Forest</label>
                                                </div>

                                                <div style="text-align: left; padding-left:10px;">
                                                    <input type="checkbox" checked id="ab" name="classifier" value="ab"/>
                                                    <label>Ada Boost</label>
                                                </div>

                                                <div style="text-align: left; padding-left:10px;">
                                                    <input type="checkbox" checked id="gb" name="classifier" value="gb"/>
                                                    <label>Gradient Boosting</label>
                                                </div>

                                                <div style="text-align: left; padding-left:10px;">
                                                    <input type="checkbox" checked id="gn" name="classifier" value="gn"/>
                                                    <label>Gaussian NB</label>
                                                </div>

                                                <div style="text-align: left; padding-left:10px;">
                                                    <input type="checkbox" checked id="lda" name="classifier" value="lda"/>
                                                    <label>Linear Discriminant Analysis</label>
                                                </div>

                                                <div style="text-align: left; padding-left:10px;">
                                                    <input type="checkbox" checked id="qda" name="classifier" value="qda"/>
                                                    <label>Quadratic Discriminant Analysis</label>
                                                </div>
                                            </td></tr>
                                        </table>
                                    </div>
                                </td></tr>
                            </table>
                        </td></tr>
                    </table>
                </div>
                    <div class="control" style="margin-bottom:10px;">
                        <input id='button-train' type="submit" class="btn btn-default" value="Start Training" style="margin-top:15px;" disabled>
                    </div>
                    {% for message in messages %}
                        <div class="alert alert-warning" style="margin-top:10px; margin-bottom:10px;"">
                            <a class="close" href="#" data-dismiss="alert">×</a>

                            {{ message }}

                        </div>
                    {% endfor %}
            </form>
        </div>
    </div>
</div>
{%  endblock %}

{%  block middlecontent %}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <h2>Efficacy & Computation Time</h2>
            {{ fileName }}
                {% for eff in effs %}
                        <p> {{ eff | safe }}
                {%  endfor %}
{#                <p><a class="btn btn-default" href="#" role="button">More details &raquo;</a></p> #}
         </div>
{#        <div class="col-md-6">#}
{#            <h2>Time Taken</h2>#}
{#            <div id="dTime">#}
{#                {% for tt in tts %}#}
{#                    {{ tt | safe }}#}
{#                {%  endfor %}#}
{#                <p><a class="btn btn-default" href="#" role="button">More details &raquo;</a></p>#}
{#            </div>#}
{#        </div> #}

{#        <div class="col-md-4">#}
{#            <h2>Heading</h2>#}
{#            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula#}
{#                porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut#}
{#                fermentum massa justo sit amet risus.</p>#}
{#            <p><a class="btn btn-default" href="#" role="button">More details &raquo;</a></p>#}
{#        </div>#}
    </div>
{%  endblock %}
