
{%  extends "base.html" %}


{% block topcontent %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="padding:0">
    <div class="container">
        <h2>Compare Multiple AI Classification Algorithms</h2>
        <p>Predict new results by select a previously trained classification algorithm. </p>
        <div class="box">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field has-addons" style="background: rgba(0,0,0,.1);">
                     <table cellspacing="2" cellpadding="2">
                        <tr>
                            <td>
                                <div class="upload-btn-wrapper">
                                    <button class="btn btn-default" stye="width:240px;">Upload a Test file</button>
                                    <input id="Test_file" type="file" name="Test_file" class="file-input"/>
                                </div>
                            </td>
                            <td>
                                <span id="file_name" style="font-size:small;">No Test file selected</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="btn btn-default" style="width:240px; padding:0; margin:0; font-size:medium;text-align:left;">
                                    <label style="text-align:left; padding-left:10px; text-decoration:underline;">File Type</label>

                                    <div style="text-align: left; padding-left:10px;">
                                        <input type="radio" id="csv" name="fileType"
                                               value="csv"/>
                                        <label style="">csv</label>
                                    </div>

                                    <div style="text-align: left; padding-left:10px;">
                                        <input type="radio" id="json" name="fileType"
                                               value="json"/>
                                        <label >json</label>
                                    </div>

                                    <div style="text-align: left; padding-left:10px;">
                                        <input type="radio" id="txt" name="fileType"
                                               value="text"/>
                                        <label >text</label>
                                    </div>

                                </div>
                            </td>
                        </tr>
                        <tr><td colspan="2">
                            <div class="row">
                                <div class="col-md-12">
                                    <b>Select a Saved Model</b>
                                    <div id="theList" class="btn" style="width:90%;height:200px;overflow:scroll;"/>
                             {#                <p><a class="btn btn-default" href="#" role="button">More details &raquo;</a></p> #}
                                 </div>
                            </div>
                       <tr><td colspan="2">
                            <div  style="text-align: left; padding-left:10px;">
                                <label>Number of features in each tuple of the Test File</label>
                                <input disabled=true "totFeatures" type="number" value="{{ totFeatures }}">
                            </div>
                        </td></tr>
                    </table>
                </div>
                    <div class="control" style="margin-bottom:10px;">
                        <input id='button-train' type="submit" class="btn btn-default" value="Start Prediction" style="margin-top:15px;" disabled>
                    </div>
                    {% for message in messages %}
                        <div class="alert alert-warning" style="margin-top:10px; margin-bottom:10px;"">
                            <a class="close" href="#" data-dismiss="alert">×</a>

                            {{ message }}

                        </div>
                    {% endfor %}
            </form>
        </div>
    </div>
</div>
{%  endblock %}

{%  block middlecontent %}
{%  endblock %}


{% block stylecontent %}
<style>
    #dropFileForm {
      margin: 16px;
      text-align: center;
      border-radius: 8px;
      overflow: hidden;
      transition: 0.5s;
    }

    #dropFileForm #fileLabel {
      background-color: rgba(0, 255, 0, 0.5);
      display: block;
      padding: 16px;
      position: relative;
      cursor: pointer;
    }

    #dropFileForm #fileInput {
      display: none;
    }

    #dropFileForm #fileLabel:after,
    #dropFileForm #fileLabel:before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #fff;
      z-index: -2;
      border-radius: 8px 8px 0 0;
    }

    #dropFileForm #fileLabel:before {
      z-index: -1;
      background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 5%,
        black 5%,
        black 10%
      );
      opacity: 0;
      transition: 0.5s;
    }

    #dropFileForm.fileHover #fileLabel:before {
      opacity: 0.25;
    }

    #dropFileForm .uploadButton {
      border: 0;
      outline: 0;
      width: 100%;
      padding: 8px;
      background-color: limeGreen;
      color: #fff;
      cursor: pointer;
    }

    #dropFileForm.fileHover {
      box-shadow: 0 0 16px limeGreen;
    }

    #theList table, #theList th, #theList td {
        background-color: #f1f1f1;
    }
</style>
{%  endblock %}

{% block scriptcontent %}
<script>
    $(document).ready(function () {
        var decoded = $("<div/>").html("{{ effs }}").text();
        $('#theList').html(decoded);

    });
</script>
{%  endblock %}


