<!DOCTYPE html> {% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mml</title>
    <link rel="icon" href="{% static 'imgs/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
    <section class="hero is-info is-short is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">ML Classification
                    <br>solve classification problems</h1>
            </div>
        </div>
    </section>

    <div class="container">
        <div id="flow">
            <span class="flow-1"></span>
            <span class="flow-2"></span>
            <span class="flow-3"></span>
        </div>
        <div class="section">
            <div class="box">
                <form method="post" enctype="multipart/form-data">
                    <div class="field has-addons">
                        <div class="file is-info has-name is-fullwidth">
                            <label class="file-label">
                                <input id="file-upload-train" class="file-input" type="file" name="resume">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Choose a Training file…
                                    </span>
                                </span>
                                <span class="file-name">
                                    <label id="file-name-train">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                </span>
                            </label>
                        </div>
                        <div class="control">
                            <input id='button-train' type="submit" class="button is-info" disabled value="Start Training">
                        </div>
                    </div>
                </form>
            </div>
            <!-- Developers -->
            <div class="row columns">
                <div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
                                <img src="https://images.unsplash.com/photo-1475778057357-d35f37fa89dd?dpr=1&auto=compress,format&fit=crop&w=1920&h=&q=80&cs=tinysrgb&crop="
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-96x96">
                                        <img src="https://i.imgsafe.org/a4/a4bb9acc5e.jpeg" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4 no-padding">Okinami</p>
                                    <p>
                                        <span class="title is-6">
                                            <a href="http://twitter.com/#">@twitterid</a>
                                        </span>
                                    </p>
                                    <p class="subtitle is-6">Lead Developer</p>
                                </div>
                            </div>
                            <div class="content">
                                The Beast stumbled in the dark for it could no longer see the path. It started to fracture and weaken, trying to reshape
                                itself into the form of metal. Even the witches would no longer lay eyes upon it, for it
                                had become hideous and twisted.
                                <div class="background-icon">
                                    <span class="icon-twitter"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
                                <img src="https://source.unsplash.com/uzDLtlPY8kQ" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-96x96">
                                        <img src="https://cdn.discordapp.com/avatars/244932903530659841/0c924a19fcf1b5c59bc9dc1b58b61bb0.jpg?size=1024" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4 no-padding">McSocks</p>
                                    <p>
                                        <span class="title is-6">
                                            <a href="http://twitter.com/#">@twitterid</a>
                                        </span>
                                    </p>
                                    <p class="subtitle is-6">Developer</p>
                                </div>
                            </div>
                            <div class="content">
                                The soul of the Beast seemed lost forever. Then, by the full moon's light, a child was born; child with the unbridled soul
                                of the Beast that would make all others pale in comparison.
                                <div class="background-icon">
                                    <span class="icon-facebook"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
                                <img src="https://source.unsplash.com/pe_R74hldW4" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-96x96">
                                        <img src="https://i.imgsafe.org/a5/a5e978ce20.jpeg" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4 no-padding">The Conceptionist</p>
                                    <p>
                                        <span class="title is-6">
                                            <a href="http://twitter.com/#">@twitterid</a>
                                        </span>
                                    </p>
                                    <p class="subtitle is-6">Developer</p>
                                </div>
                            </div>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum consequatur numquam aliquam tenetur ad amet inventore hic
                                beatae, quas accusantium perferendis sapiente explicabo, corporis totam! Labore reprehenderit
                                beatae magnam animi!
                                <div class="background-icon">
                                    <span class="icon-barcode"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{tdata}}
    <script>
        $("#file-upload-train").change(function () {
            $("#file-name-train").text(this.files[0].name);
            $("#button-train").removeAttr('disabled');
        });    
    </script>

</body>

</html>